head
  title
    | Reverci game
body
  #main.row-fluid {{> main}}

template(name = 'main')
  .main
    | {{#if started}}
    p
      a#back(href='#') Back
      br
    | {{else}}
    |   {{#if connecting}}
    p
      a#back(href='#') Back
      br
    |   {{else}}
    |     {{#if waiting}}
    p
      a#back(href='#') Back
      br
    |     {{/if}}
    |   {{/if}}
    | {{/if}}
    | {{#if started}}
    |   {{> game}}
    | {{else}}
    |   {{#if waiting}}
    |     {{> waiting}}
    |   {{else}}
    |     {{#if connecting}}
    |       {{> connecting}}
    |     {{else}}
    |       {{> start_game}}
    |     {{/if}}
    |   {{/if}}
    | {{/if}}

template(name = 'start_game')
  h4 Welcome to Reverci
  .start_game
    p
      a#start_pc1(href="#") Play with PC Level 1
    p
      a#start_pc2(href="#") Play with PC Level 2
    p
      a#create_pp(href="#") Create Player <-> Player game
    p
      a#connect_to_pp(href="#") Connect to Player <-> Player game

template(name = 'waiting')
  .waiting
    p Your partner should enter this code on his pc. Than the game will start
    h3 {{ game_id }}

template(name = 'connecting')
  .waiting
    p Your partner should press button 'Create PvP game' and tell you the code. You should enter that code and than press go button
    input#game_id(type = 'text')
    button.btn#connecting_ready GO!
    | {{#if error}}
    |   {{error}}
    | {{/if}}

template(name = 'game')
  .game
    p
      | {{#if finished}}
      |   {{result}}
      | {{else}}
      |   {{turn}}
      | {{/if}}
    .game-field
      | {{#each game.field}}
      .game-row
        | {{#each this}}
        .game-cell(class = 'cell_{{this}}')
          div
        | {{/each}}
      | {{/each}}


