$cell_size: 40px
$border_color: #ccc
$border_width: 1px
$card_size: 80%
$red: red
$black: black

.game-field
  display: table
  border: $border_width solid $border_color
  .game-row
    display: table-row
    .game-cell
      display: table-cell
      width: $cell_size
      border: $border_width solid $border_color
      height: $cell_size
      content: ''
    .game-cell > div
      border-radius: 50%
      margin: (100% - $card_size)/2
      width: $card_size
      height: $card_size
    .cell_2 > div
      background-color: red
    .cell_1 > div
      background-color: black
