.game-field {
  display: table;
  border: 1px solid #cccccc; }
  .game-field .game-row {
    display: table-row; }
    .game-field .game-row .game-cell {
      display: table-cell;
      width: 40px;
      border: 1px solid #cccccc;
      height: 40px;
      content: ""; }
    .game-field .game-row .game-cell > div {
      border-radius: 50%;
      margin: 10%;
      width: 80%;
      height: 80%; }
    .game-field .game-row .cell_2 > div {
      background-color: red; }
    .game-field .game-row .cell_1 > div {
      background-color: black; }
